<!--use of NgSwitch-->
<h1>NgSwitch</h1>
<input type="text" required [(ngModel)]="person.name" >
<!-- in case you do it with if
<p *ngIf="person.name=== 'Robin'">
  Soy Robin
</p>
<p *ngIf="person.name=== 'Luffy'">
  Soy Luffy
</p>
<p *ngIf="person.name=== 'Nami'">
  Soy Nami
</p>
-->
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'Robin'">
    Soy Robin
  </p>
  <p *ngSwitchCase="'Luffy'">
    Soy Luffy
  </p>
  <p *ngSwitchCase="'Nami'">
    Soy Nami
  </p>
  <p *ngSwitchDefault>
    No hace parte de la tripulación
  </p>
</div>
<hr/>
<!--use of NgFor Objs-->
<h1>NgFor objects</h1>
<div class="fruits--grid">
  <div *ngFor="let fruit of fruits">
    <img [src]="fruit.image" alt="image">
    <h2>{{fruit.berries}}</h2>
    <p>{{fruit.name}}</p>
  </div>
</div>
<hr/>

<!--use of NgFor-->
<h1>NgFor</h1>
<input type="text" required [(ngModel)]="newFriend" >
<button (click)="addFriend()">Add name</button>
  <li *ngFor="let friend of friends; index as i">
    {{i}} {{friend}}
    <button (click)="deleteFriend(i)">Delete</button>
  </li>
<hr/>

<!--use NgIf-->
<h1>NgIf</h1>
<input type="text" required [(ngModel)]="person.name" >
<p *ngIf="person.name=== 'Robin'"> Soy Robin  </p>
<p *ngIf="person.name=== 'Luffy'; else elseBlock"> Soy Luffy  </p>
<ng-template #elseBlock>
  <p>Ng with Else</p>
</ng-template>
<hr/>
<!--use NgModel-->
<h1>NgModel</h1>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" >
<p> Valid: {{nameInput.valid}}</p>
<input type="number" max="18" min ="10" required #ageInput="ngModel" [(ngModel)]="person.age" >
<p> Valid: {{ageInput.valid}}</p>
<hr/>
<!--Event biding on click-->
<h1>Events</h1>
<button [disabled] = "btnDisabled">Send</button>
<button (click)="toogleButton()">Toogle Button</button>
<p>Edad {{person.age}}</p>
<button (click)="addAge()">Add Years</button>
<!--Event biding on scroll-->
<div class="box" (scroll)="onScroll($event)">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<!--Event biding on keyUp change name while i type something-->
<input type="text" [value]="person.name" (keyup)="changeName($event)">
<hr/>
<!--property binding for numbers, bool, etc...-->
<h1>Propiedades</h1>
<button [disabled] = "btnDisabled">Send</button>
<!--use objects-->
<input type="text" [value]="person.name">
<progress max = "100" [value] = "person.age" ></progress>
<img width="100" [src]= "person.avatar">
<!--use properties-->
<input type="text" [value]="name">
<progress max = "100" [value] = "age" ></progress>
<img width="100" [src]= "img">
<hr/>
<!--string interpolation for strings-->
<h1> hola mundo </h1>
<h2> {{'Hola '.repeat(3)}} </h2>
<p>3 + 4 = {{3+4}}</p>
<h3>Hola, soy {{name}} tengo {{age}} años</h3>
<img width="200" src={{img}} alt="image">
